<!DOCTYPE html>
<html lang="en">
<head>

    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Beetle Nut Enterprises || Dashboard</h1>

    <div id="New-Shipment-form">
        <hr>
            <form action="/shipment/create" method="POST">

                    Shipement Id:<input type="text" name="ShipId"placeholder="Enter Shipment Id...." required><br>

                    Logistics Service Provider:<td colspan="2"><input type ="text" name="LogisticsName" placeholder="Enter name of Logistics Service Provider...." required style="width:300px"><br>
                    Order Id:<input type="text" name="OrderId"placeholder="Enter the Order Id" required><br>

                <p>
                        <button type="submit">Submit</button>
                </p>
            </form>
    </div>
    <hr>
    <h2> Shipment History</h2>
    <hr>
    <div id="shipments-container">

        <table border="1">
            <tr>
                <th style="background-color:coral; color: white;">Shipement Id </th>
                <th style="background-color:coral; color: white;">Logistics Name</th>
                <th style="background-color:coral; color: white;">Order Id(tracking number) </th>
                <td></td>
            </tr>
            <% for(let shipment of shipments){%>
                <tr>
                    <td style="background-color:crimson; color:white"><%=shipment.ShipId%></td>
                    <td style="background-color:crimson; color:white"><%=shipment.LogisticsName%></td>
                    <td style="background-color:crimson; color:white"><%=shipment.OrderId%></td>
                    <td><a href="/tracking/<%= shipment.OrderId%>"><button type="submit" >Track Order</button></a></td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>